@media screen and (max-width:576px) {
    .nav-container{
        width: 100%;
    }
    .nav-menu{
        width: 100%;
        flex-direction: column;
    }
    .nav-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 5px;
    }
    .header-main{
        width: 100%;
    }
    .banner{
        width: 100;
        flex-direction: column;
    }
    .header-container{
        width: 100%;
    }
    .banner{
        width: 100%;
        flex-direction: column-reverse;
        
      text-align: center;
    }
    .banner-left, .banner-right{
        width: 100%;
       
    }
    title{
       padding: 0 50px;
    }
    .banner-btn{
        padding: 15px 25px;
    }
    .gamer-container{
        width: 100%;
        flex-direction: column;
       
    }
    .gamer-left, .gamer-right{
        width: 100%;
    }
    .gamer-right{
        text-align: center;
    }
    .banner-right, .banner-left{
        width: 80%;
    }
    .funny-video{
        width: 100%;
    }
    .funny-video-container{
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        ;
        width: 70%;
        margin: 0 auto;
        gap: 20px;
        
    }
    .funny-video-card img{
        height: 77%;
    }
    .play-instantly{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .play-instantly-right{
        width: 70%;
    }
    .play-instantly-left{
        width: 70%;
    }
    .play-instantly-right .cat{
        height: 100px;
        width: 80px;
    }
    .play-online{
       
        flex-direction: column-reverse;
    }
    .careers{
        width: 100%;
       
    }
    .parent{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        align-items: center;
        
    }
    .careers-left{
        width: 100%;
        
    }
    .careers-right{
        width: 100%;
    }

}