@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav css starts here */
.nav-container{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
}

.nav-menu{
  /* border: 1px solid tomato; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 1000px;
  margin: 0 auto;
}
.nav-left{
  display: flex;
 align-items: center;

}
.nav-right{
  
  align-items: center;
}
.nav-btn{
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(60, 53, 79, 1);
  margin-right: 15px;

}
.Follow-btn{
background-color: rgba(60, 53, 79, 0.288);
border-radius: 5px;
padding: 7px 15px;
margin-right: 0;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: rgba(11, 2, 35, 1);
}
/* nav css ends here */

/* header css starts  */
.header-container{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;

}
/* .header-main{
  border: 1px solid yellowgreen;
 
} */
.banner{
  width: 1000px;
  margin: 0 auto;
  /* border: 2px solid tomato; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left{
  /* border: 1px solid green; */
  width: 50%;

}
.banner-right{
  /* border: 1px solid green; */
  width: 50%;
}
.banner img{
  width: 100%;
}
.title-one{
  font-size: 3rem;
  font-weight: 600;
  color: rgba(11, 2, 35, 1);
}
.title{
  font-size: 3.93rem;
  font-weight: 800;
  background-clip: text;
  background-image: linear-gradient(rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
  color: transparent;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
 
}
.text{
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(83, 76, 100, 1);
  margin-top: 5px;
}
.banner-btn{
  border: none;
  border-radius: 48px;
  padding: 21px 40px;
  background-color: rgba(255, 66, 165, 1);
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
/* header css ends  */

/* main starts here */
/* gamer css starts */
.gamer-container{
  /* border: 1px solid tomato; */
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.gamer-left{
  width: 50%;
  /* border: 2px solid green; */
}
.gamer-left img{
  width: 100%;
}
.gamer-right{
  width: 50%;
  /* border: 2px solid green; */
  text-align: right;
  
}
.gamer-title{
  font-size: 3rem;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
}
.gamer-text{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(83, 76, 100, 1);
}
.know-btn{
  border: none;
  background-color: rgba(255, 66, 165, 1);
  border-radius: 48px;
  padding: 15px 25px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.our-text{
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(83, 76, 100, 1);
}
.unleash-text{
  font-size: 2rem;
  font-weight: 700;
  color: rgba(83, 76, 100, 1);
}
/* gamer css ends */

/* funny-video starts */
.funny-video{
  /* border: 1px solid tomato; */
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
.funny-video-title{
  font-size: 3rem;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
}
.funny-video-text{
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  color: rgba(83, 76, 100, 1);
}
.funny-video-container{
  /* border: 1px solid green; */
  display: grid;
  grid-template-areas: 
 " a b c d";
 gap: 10px;
 margin-top: 20px;
}
.funny-video-card{
  width: 100%;
  /* border: 1px solid yellow; */

}
.funny-video-card img{
  width: 100%;
  height: 83%;
}
.card-text{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(83, 76, 100, 1);
}
.card-1{
  grid-area: a;
  position: relative;

}
.card-2{
  grid-area: b;
  position: relative;

}
.card-3{
  grid-area: c;
  position: relative;

}
.card-4{
  grid-area: d;
  position: relative;

}
.watch-now-text{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(255, 66, 165, 1);
}
.watch-now{
  /* border: 1px solid slateblue; */
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
  display: none;
}
.card-3 :hover+.watch-now{
  display: block;
 
}
.card-1 :hover+.watch-now{
  display: block;
 
}
.card-2 :hover+.watch-now{
  display: block;
 
}
.card-4 :hover+.watch-now{
  display: block;
 
}
.card-3 img:hover{
  filter: brightness(50%);
}
.card-1 img:hover{
  filter: brightness(50%);
}
.card-2 img:hover{
  filter: brightness(50%);
}
.card-4 img:hover{
  filter: brightness(50%);
}
/* funny-video ends */

/* play instantly starts */
.play-instantly{
  width: 1000px;
  /* border: 1px solid tomato; */
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-instantly-left{
  /* border: 1px solid green; */
  width: 40%;
  margin: 0 auto;
}
.play-instantly-right{
  /* border: 1px solid green; */
  width: 40%;
  position: relative;
  
}
.play-instantly-right img{
  width: 100%;
}
.play-title{
  font-size: 2rem;
  font-weight: 700;
  color: rgba(11, 2, 35, 1);
}
.play-title span{
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
}
.play-text{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(83, 76, 100, 1);
}
.play-instantly-right .cat{
  position: absolute;
  height: 120px;
  width: 100px;
  bottom: -5%;
  left: -8%;
}
/* play instantly ends */

/* careers css starts */
.careers-container{
  background-color: rgba(255, 66, 165, 1);
}
.careers{
  width: 1000px;
  /* border: 1px solid tomato; */
  margin: 0 auto;
  margin-top: 120px;

}
.careers-title{
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.careers-text{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.careers-left{
  /* border: 1px solid green; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.careers-right{
  /* border: 1px solid green; */
  width: 50%;
}
.career-tara{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);

}
.parent{
  display: flex;

}
.careers-right img{
  width: 100%;
}
/* careers css ends */
/* main ends here */


/* footer css starts */
.footer-container{
  background-color: rgba(11, 2, 35, 1);
 
}
.footer-main{
  width: 1000px;
  /* border: 1px solid tomato; */
  margin: 0 auto;

}
.pi-ku{
 display: flex;
 /* border: 1px solid green; */
 width: 25%;
margin: 0 auto;
}
.etc-big{
  width: 50%;
  display: flex;
  /* border: 1px solid green; */
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
.etc{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.social{
  width: 55%;
  /* border: 1px solid green; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
.end{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 20px;
 
}
/* footer css ends */